@font-face {
  font-family: 'pt_serifbold';
  src:
    url('fonts/pt_serifbold-webfont.ttf'), 
    url('fonts/pt_serifbold-webfont.woff2') format('woff2'),
    url('fonts/pt_serifbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans_cyrl';
  src:
    url('fonts/museo_sans_cyrl.ttf') 
    url('fonts/museo_sans_cyrl-webfont.woff2') format('woff2'),
    url('fonts/museo_sans_cyrl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}






